/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.2) !important; */
}

body {
  color: var(--color-primery-dark);
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
  /* background-color: lightgray; */
}

/* Buttons */
.button {
  width: 281px;
  height: 53px;
  padding: 16px 32px;
  margin-bottom: 8px;
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  color: var(--color-background);
  background-color: var(--color-brand-light);
  font-family: inherit;
  font-weight: 600;
  transition: color 0.2s;
  /* cursor: pointer; */
}

.button:hover {
  color: var(--color-primery-dark);
  /* background-color: transparent; */
  background-color: var(--color-background);
  border: 2px solid var(--color-brand-light);
}

.text-brand {
  color: var(--color-brand-light);
}

.text-capitalize {
  text-transform: capitalize;
}

/* Section title */
.section-title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Hero section */
.hero__section {
  position: relative;
  /* background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../images/hero-bg-image.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
  padding: 122.5px 0 100px;
}

.hero__section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../images/hero-bg-image.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -2;
}

.hero__section::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-width: 1440px;
  height: 100%;
  background-image: url('../images/hero-bg-mask.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  transform: rotate(180deg) scale(-1, 1);
  z-index: -1;
}

.about__decor {
  position: absolute;
  /* Устанавливаем базовый фильтр свечения */
  filter: drop-shadow(0 0 5px gold);
  animation: magic-star 3s ease-in-out infinite alternate;
}

/* .star-big { */
.about__photo-after-container::before {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -16px;
  left: 132px;
  background-color: var(--color-decor);
  -webkit-mask: url('../images/star-1.svg') no-repeat center / contain;
  mask: url('../images/star-1.svg') no-repeat center / contain;
  mask-mode: alpha;
  animation: float 3s ease-in-out infinite alternate;
}

.star-middle {
  width: 40px;
  height: 40px;
  top: 32px;
  right: -20px;
  background-image: url('../images/icons.svg#icon-star-2');
  fill: var(--color-brand-light);
}

.star-small {
  width: 16px;
  height: 16px;
  bottom: 40px;
  right: 16px;
  background-image: url('../images/icons.svg#icon-star-3');
  fill: var(--color-grey);
}

@keyframes magic-star {
  0% {
    transform: translate(0) rotate(0deg) scale(0.8);
    opacity: 0.5;
    filter: drop-shadow(0 0 2px gold) brightness(1);
  }

  50% {
    /* В середине анимации добавляем яркий всплеск */
    opacity: 1;
    filter: drop-shadow(0 0 15px yellow) brightness(1.5);
  }

  100% {
    /* В конце — поворот и увеличение */
    transform: translate(50px, -15px) rotate(180deg) scale(1.2);
    opacity: 0.7;
    filter: drop-shadow(0 0 8px gold) brightness(1.2);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0.8);
  }
  100% {
    transform: translate(-50px, 50px) rotate(360deg) scale(1.2);
  }
}

/* Why us section */
.why-us__section {
  position: relative;
  padding: 88px 0 48px;
}

.why-us__section::before {
  content: '';
  position: absolute;
  top: -122px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 1440px;
  height: 1506px;
  background-image: url('../images/bg-body-wave.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  z-index: -1;
  pointer-events: none;
}
