/* fonts */
/* roboto-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/roboto-v50-cyrillic_latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v50-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* roboto-600 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src:
    url('../fonts/roboto-v50-cyrillic_latin-600.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v50-cyrillic_latin-600.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/roboto-v50-cyrillic_latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/roboto-v50-cyrillic_latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* play-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src:
    url('../fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/play-v21-cyrillic_latin-regular.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* play-700 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src:
    url('../fonts/play-v21-cyrillic_latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url('../fonts/play-v21-cyrillic_latin-700.woff') format('woff');
  /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

:root {
  --color-brand-light: #2b7fff;
  --color-primery-light: #4a4a4a;
  --color-primery-dark: #011c44;
  --color-background: #fff;
  --color-grey: #747272;
  --color-decor: #011f4a;
  --bg-image-gradient: linear-gradient(
    180deg,
    rgba(1, 28, 68, 0) 47.4%,
    rgba(1, 28, 68, 0.73) 82.66%,
    #011c44 99.06%
  );
}

/* Base styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 0, 0, 0.2) !important; */
}

body {
  color: var(--color-primery-dark);
  background-color: var(--color-background);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  /* font-weight: inherit; */
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
  /* background-color: lightgray; */
}

/* Buttons */
.button {
  padding: 16px 52px;
  margin-bottom: 8px;
  width: auto;
  border: 2px solid var(--color-brand-light);
  border-radius: 32px;
  color: var(--color-background);
  background-color: var(--color-brand-light);
  font-weight: 600;
  transition: color 0.2s;
}

.button:hover {
  color: var(--color-primery-dark);
  background-color: #dfdfdf;
  border: 2px solid var(--color-brand-light);
}

.text-bold {
  font-weight: 600;
}

.text-brand {
  color: var(--color-brand-light);
}

.text-capitalize {
  text-transform: capitalize;
}

.centered {
  text-align: center;
}

/* Section title */
.section__title {
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* Header */
.header {
  position: absolute;
  width: 100%;
  padding: 32px 0;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 2;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.header__logo {
  flex-shrink: 0;
  cursor: pointer;
}

.header__nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 56px;
}

.header__link {
  color: var(--color-primery-light);
  transition: color 0.2s;
}

.header__link:hover {
  color: var(--color-brand-light);
  /* font-weight: 700; */
}

.header__icon-list {
  display: flex;
  align-items: center;
  gap: 32px;
  fill: var(--color-primery-dark);
}

.header__icon:hover {
  fill: var(--color-brand-light);
}

/* Hero section */
.hero__section {
  position: relative;
  /* background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../images/hero-bg-image.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
  padding: 122.5px 0 126.5px;
}

.hero__section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100%;
  background-image:
    linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../images/hero-bg-image.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  z-index: -2;
}

.hero__section::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  min-width: 1440px;
  height: 100%;
  background-image: url('../images/hero-bg-mask.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  /* transform: rotate(180deg) scale(-1, 1); */
  z-index: -1;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  padding-left: 106px;
}

.hero__second-title {
  margin-bottom: 16px;
}

.hero__title {
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 40px;
}

.hero__button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.hero__button:hover {
  background-color: transparent;
}

.hero__button-description {
  max-width: 238px;
  color: var(--color-primery-light);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 0;
}

/* About section */
.about__section {
  padding: 0 0 88px;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  /* width: 100%; */
}

.section-title.about__title {
  margin-top: 40px;
}

.section-title.text-left {
  text-align: left;
}

.about__text-container,
.about__photo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* flex-basis: 50%; */
  gap: 40px;
}

.about__text-container {
  max-width: 700px;
}

.about__photo-container {
  width: 100%;
}

.about__section .section-title {
  max-width: 529px;
  margin-bottom: 0;
}

.about__text {
  font-size: 22px;
  line-height: 1.73;
  margin-bottom: 0;
}

.about__photo-before-container,
.about__photo-after-container {
  display: flex;
  width: 100%;
  position: relative;
}

.about__photo-after-container {
  justify-content: flex-end;
}

.about__photo {
  /* width: 328px; */
  border-radius: 50%;
}

.about__decor {
  position: absolute;
  /* Устанавливаем базовый фильтр свечения */
  filter: drop-shadow(0 0 5px gold);
  animation: magic-star 3s ease-in-out infinite alternate;
}

/* .star-big { */
.about__photo-after-container::before {
  content: '';
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: -16px;
  left: 132px;
  background-color: var(--color-decor);
  -webkit-mask: url('../images/star-1.svg') no-repeat center / contain;
  mask: url('../images/star-1.svg') no-repeat center / contain;
  mask-mode: alpha;
  animation: float 3s ease-in-out infinite alternate;
}

.star-middle {
  width: 40px;
  height: 40px;
  top: 32px;
  right: -20px;
  background-image: url('../images/icons.svg#icon-star-2');
  fill: var(--color-brand-light);
}

.star-small {
  width: 16px;
  height: 16px;
  bottom: 40px;
  right: 16px;
  background-image: url('../images/icons.svg#icon-star-3');
  fill: var(--color-grey);
}

@keyframes magic-star {
  0% {
    transform: translate(0) rotate(0deg) scale(0.8);
    opacity: 0.5;
    filter: drop-shadow(0 0 2px gold) brightness(1);
  }

  50% {
    /* В середине анимации добавляем яркий всплеск */
    opacity: 1;
    filter: drop-shadow(0 0 15px yellow) brightness(1.5);
  }

  100% {
    /* В конце — поворот и увеличение */
    transform: translate(50px, -15px) rotate(180deg) scale(1.2);
    opacity: 0.7;
    filter: drop-shadow(0 0 8px gold) brightness(1.2);
  }
}

@keyframes float {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(0.8);
  }
  100% {
    transform: translate(-50px, 50px) rotate(360deg) scale(1.2);
  }
}

/* Why us section */
.why-us__section {
  position: relative;
  padding: 88px 0 48px;
}

.why-us__section::before {
  content: '';
  position: absolute;
  top: -122px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 1440px;
  height: 1506px;
  background-image: url('../images/bg-body-wave.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  z-index: -1;
  pointer-events: none;
}

.why-us__container {
  padding: 0 90px;
}

.why-us-text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin: 0;
}

.why-us__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 56px;
}

.why-us__item {
  /* display: flex; */
  flex-basis: calc((100% - 112px) / 3);
}

.why-us__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  gap: 12px;
  /* max-width: 316px; */
  min-height: 181px;
  padding: 24px 32px;
  background-color: var(--color-background);
  fill: var(--color-brand-light);
  /* border: 1px solid lightgray; */
  border-radius: 32px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* Procedures section */
.procedures__section {
  padding: 48px 0 48px;
}

.procedures__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.procedures__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

/* .procedures-item {
  justify-content: space-between;
} */

.procedures__card {
  display: flex;
  align-items: flex-end;
  width: 344px;
  height: 456px;
  padding: 32px 77px 32px 115px;
  border-radius: 4px 120px;
}

.procedures__card.face-masks {
  background-image: var(--bg-image-gradient), url('../images/procedure-1.webp');
}

.procedures__card.face-injections {
  background-image: var(--bg-image-gradient), url('../images/procedure-2.webp');
}

.procedures__card.face-cleansing {
  background-image: var(--bg-image-gradient), url('../images/procedure-3.webp');
}

.procedures__article-title {
  color: var(--color-background);
  font-size: 24px;
  line-height: 1.18;
  text-align: center;
}

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var(--color-primery-dark);
  background-color: transparent;
  border: 1px solid var(--color-primery-dark);
  border-radius: 50%;
  cursor: pointer;
}

.carousel-button:hover {
  fill: var(--color-background);
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-background);
}

.carousel-button.flipped {
  transform: scaleX(-1);
  transform-origin: center;
  /* transform: rotate(180deg); */
}

/* Contact section */
.contact__section {
  padding: 48px 0 96px;
}

.contact__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

.contact__map {
  flex-shrink: 0;
  width: 605px;
  height: 481px;
  border: none;
  border-radius: 32px;
}

.contact__form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 56px;
  flex-grow: 1;
  /* flex-basis: 100%; */
  max-width: 423px;
  background-color: var(--color-primery-dark);
  background-image: url('../images/modal-form-vector.svg');
  border-radius: 32px;
}

.contact__form-title {
  color: var(--color-background);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.18;
  text-align: center;
  max-width: 274px;
  margin-bottom: 32px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact__section .form {
  gap: 16px;
}

.contact__form-privacy {
  color: var(--color-grey);
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  max-width: 213px;
  margin-bottom: 0;
}

/* Footer */
.footer {
  position: relative;
  padding: 56px 0;
  background-color: var(--color-primery-dark);
  background-image: url('../images/footer-vector.svg');
}

.footer::after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 247px;
  height: 152px;
  background-image: url('../images/footer-bg-image.webp');
  content: '';
}

.footer__container {
  display: flex;
  gap: 20px;
}

.footer__nav,
.footer__address {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer__logo,
.footer__nav-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer__logo {
  flex-shrink: 0;
}

.footer__address {
  justify-content: space-between;
}

.footer__address-list {
  display: flex;
  flex-direction: column;
}

.footer__social-icon-list {
  display: flex;
  gap: 24px;
  fill: var(--color-background);
}

.footer__social-icon {
  transition: fill 0.2s;
}

.footer__social-icon:hover {
  fill: var(--color-brand-light);
}

.footer__nav-link,
.footer__address-link {
  margin-bottom: 16px;
  color: var(--color-background);
  font-size: 16px;
  line-height: 1.2;
  transition: color 0.2s;
}

.footer__nav-link:hover,
.footer__address-link:hover {
  color: var(--color-brand-light);
}

.footer__privacy-policy {
  color: var(--color-grey);
  font-size: 13px;
  line-height: 1.53;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: rgba(1, 31, 74, 0.4);
  transition:
    opacity 0.2s,
    visibility 0.2s;
  z-index: 3;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 42px 144px;
  background: var(--color-primery-dark);
  background-image: url('../images/modal-form-vector.svg');
  border-radius: 48px;
  overflow-y: auto;
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  width: 32px;
  height: 32px;
  fill: none;
  stroke: var(--color-background);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 40px;
  color: var(--color-background);
}

.form__title {
  width: 274px;
  margin: 0 auto 32px;
  color: var(--color-background);
}

/* Form flex */
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 310px;
  gap: 24px;
}

.form__field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__input {
  font-size: 13px;
  font-weight: inherit;
  width: 100%;
  padding: 18px 33px;
  color: var(--color-background);
  background-color: transparent;
  border: 2px solid var(--color-grey);
  border-radius: 32px;
}

.form__input::placeholder {
  color: var(--color-background);
}

.form__input:focus,
.form__input:hover {
  background-color: var(--color-grey);
  outline: none;
}

.form__pryvacy {
  font-size: 12px;
  line-height: 1.5;
  width: 216px;
  margin: 0 auto;
  color: var(--color-grey);
}

.form__pryvacy-link {
  text-decoration: underline;
  text-underline-offset: 2px;
  color: var(--color-grey);
}
