/* fonts */
/* roboto-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v50-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v50-cyrillic_latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* roboto-600 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/roboto-v50-cyrillic_latin-600.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v50-cyrillic_latin-600.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* roboto-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v50-cyrillic_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/roboto-v50-cyrillic_latin-700.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* play-regular - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/play-v21-cyrillic_latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/play-v21-cyrillic_latin-regular.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

/* play-700 - cyrillic_latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Play';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/play-v21-cyrillic_latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
        url('../fonts/play-v21-cyrillic_latin-700.woff') format('woff'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
}

:root {
    --color-brand-light: #2b7fff;
    --color-primery-light: #4a4a4a;
    --color-primery-dark: #011c44;
    --color-background-light: #fff;
    --color-privacy-policy: #747272;
}

/* Base styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    color: var(--color-primery-dark);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

address {
    font-style: normal;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.text-brand {
    color: var(--color-brand-light);
}

.text-capitalize {
    text-transform: capitalize;
}

/* Header */
/* Links */
.header-link {
    color: var(--color-primery-light);
}

.header-link:hover {
    color: var(--color-brand-light);
    font-weight: 700;
}

/* Buttons */
.button {
    color: var(--color-background-light);
    background-color: var(--color-brand-light);
    border: 2px solid var(--color-brand-light);
    border-radius: 32px;
    font-weight: 600;
}

.button:hover {
    color: var(--color-primery-dark);
    background-color: transparent;
    border: 2px solid var(--color-brand-light);
    cursor: pointer;
}

/* Hero section */
.hero-title {
    color: var(--color-brand-light);
    font-family: 'Play', sans-serif;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
}

.hero-button-description {
    color: var(--color-primery-light);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

/* Section title */
.section-title {
    font-family: 'Play', sans-serif;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
}

/* About section */
.about-section .section-title {
    text-align: left;
}

.about-section-text {
    font-size: 22px;
    line-height: 1.73;
}

.about-section .text-bold {
    font-weight: 600;
}

/* Why us section */
.why-us-section {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
}

/* Procedures section */
.procedures-article-title {
    color: var(--color-background-light);
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
}

/* Contact section */
.contact-form-title {
    color: var(--color-background-light);
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.contact-form-privacy {
    color: var(--color-privacy-policy);
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
}

/* Footer */
.address-link {
    color: var(--color-background-light);
    font-size: 16px;
}

.text-privacy-policy {
    color: var(--color-privacy-policy);
    font-size: 13px;
}