@use './utils/fonts';
@use './utils/variables';
@use './utils/mixins';

/* vendors */

@use './base/base';
@use './base/helpers';
@use './base/typography';

@use './components/buttons';
@use './components/carousel-button';
@use './components/decor-stars';
@use './components/decor-waves';
@use './components/icons';
@use './components/links';
@use './components/form';
@use './components/procedure-card';
@use './components/pagination';

@use './layout/section';
@use './layout/container';
@use './layout/header';
@use './layout/mobile-menu';
@use './layout/hero-section';
@use './layout/about-section';
@use './layout/why-us-section';
@use './layout/procedures-section';
@use './layout/contact-section';
@use './layout/footer';
@use './layout/modal';

/* pages */
/* themes */

// -------------------- //
/* fonts */
/* variables */

/* Base styles */
// container

/* Buttons */
// typography
/* Section title */

/* Header */
/* Hero section */

/* About section */

/* Why us section */

/* Procedures section */
// carousel-button

/* Contact section */

/* Footer */

/* Modal */

/* Form flex */
