@mixin position($top: auto, $right: auto, $bottom: auto, $left: auto) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin star-style(
  $size,
  $t: auto,
  $r: auto,
  $b: auto,
  $l: auto,
  $color: currentColor
) {
  position: absolute;
  width: $size;
  height: $size;
  fill: $color;

  @include position($t, $r, $b, $l);
}

// @mixin star-style($size, $t: auto, $r: auto, $b: auto, $l: auto, $color) {
//   width: $size;
//   height: $size;
//   top: $t;
//   right: $r;
//   bottom: $b;
//   left: $l;
//   fill: $color;
// }

// background-image: url('../images/icons.svg#icon-star-#{$icon}');
//   // fill: #{$color};
//   // fill: var(#{$color});
