// :root {
//   --color-brand-light: #2b7fff;
//   --color-primery-light: #4a4a4a;
//   --color-primery-dark: #011c44;
//   --color-background: #fff;
//   --color-grey: #747272;
//   --color-decor: #011f4a;
//   --bg-image-gradient: linear-gradient(
//     180deg,
//     rgba(1, 28, 68, 0) 47.4%,
//     rgba(1, 28, 68, 0.73) 82.66%,
//     #011c44 99.06%
//   );
// }

$font-primary: 'Roboto', sans-serif;
$font-title: 'Play', sans-serif;

$color-brand-light: #2b7fff;
$color-primery-light: #4a4a4a;
$color-primery-dark: #011c44;
$color-background: #fff;
$color-grey: #747272;
$color-decor: #011f4a;
$bg-image-gradient: linear-gradient(
  180deg,
  rgba(1, 28, 68, 0) 47.4%,
  rgba(1, 28, 68, 0.73) 82.66%,
  #011c44 99.06%
);
$color-brand-light: #2b7fff;
$color-grey: #747272;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;

// $path-star-middle: url('../images/icons.svg#icon-star-2');
// $path-star-small: url('../images/icons.svg#icon-star-3');
