@use '../utils/variables' as v;

.contact-section {
  padding: 20px 0 0;

  @media screen and (min-width: v.$bp-tablet) {
    padding-bottom: 48px;
  }

  @media screen and (min-width: v.$bp-desktop) {
    padding: 48px 0 96px;
  }

  &__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 24px;

    @media screen and (min-width: v.$bp-tablet) {
      flex-direction: row;
      justify-content: center;
      // flex-wrap: wrap;
    }

    @media screen and (min-width: v.$bp-desktop) {
      padding: 0 76px;
      gap: 32px;
    }
  }

  &__map {
    flex-shrink: 0;
    height: 232px;
    margin: 0 -20px;
    border: none;

    @media screen and (min-width: v.$bp-tablet) {
      flex-grow: 1;
      // width: 100%;
      // min-width: 421px;
      height: 492px;
      margin: 0;
      border-radius: 32px;
    }

    // @media screen and (min-width: v.$bp-desktop) {
    //   width: 605px;
    // }
  }

  &__form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 56px;
    // flex-grow: 1;
    background-color: v.$color-primery-dark;
    background-image: url('../images/modal-form-vector.svg');
    border-radius: 32px;

    @media screen and (min-width: v.$bp-desktop) {
      min-width: 423px;
    }
  }

  &__form {
    gap: 16px;
  }

  &__form-title {
    margin-bottom: 16px;
  }
}
