// @use '../utils/variables' as v;
@use '../utils' as *;

.footer {
  position: relative;
  padding: 32px 0 66px;
  background-color: $color-primery-dark;
  background-image: url('../images/footer-vector.svg');

  @media screen and (min-width: $bp-tablet) {
    padding: 56px 0;
  }

  &::after {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 247px;
      height: 152px;
      background-image: url('../images/footer-bg-image.webp');
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-start;
      gap: 20px;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: flex-start;
      flex-basis: 50%;
      gap: 20px;
    }
  }

  &__logo,
  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      align-items: flex-start;
      flex-grow: 1;
    }
  }

  &__logo {
    margin-bottom: 26px;

    @media screen and (min-width: $bp-tablet) {
      flex-shrink: 0;
    }
  }

  &__address {
    @media screen and (min-width: $bp-tablet) {
      justify-content: space-between;
    }
  }

  &__address-list {
    & > * {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: flex;
      }
    }

    & > :last-child {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: $bp-tablet) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__icons-list {
    display: flex;
    gap: 16px;
    fill: $color-background;

    @media screen and (min-width: $bp-tablet) {
      gap: 24px;
    }
  }

  &__nav-link,
  &__address-link {
    color: $color-background;
    font-size: 14px;
    line-height: 1.142;

    @media screen and (min-width: $bp-desktop) {
      font-size: 16px;
      line-height: 1.187;
    }
  }

  &__address-terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      align-items: flex-start;
    }
  }

  &__privacy-policy {
    color: $color-grey;
    font-size: 12px;
    line-height: 1.53;
    margin: 0;

    @media screen and (min-width: $bp-tablet) {
      font-size: 13px;
    }
  }
}
