@use '../utils/variables' as var;

.header {
  position: absolute;
  width: 100%;
  padding: 32px 0;
  background-color: rgba(255, 255, 255, 0.25);
  z-index: 2;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__logo {
    flex-shrink: 0;
  }

  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 56px;
  }

  &__link {
    color: var.$color-primery-light;
  }

  &__icons-list {
    display: flex;
    gap: 32px;
    fill: var.$color-primery-dark;
  }
}
