// @use '../utils/variables' as v;
@use '../utils' as *;

.hero-section {
  position: relative;
  // background-image:
  //   linear-gradient(
  //     94deg,
  //     #fff 21.65%,
  //     rgba(255, 255, 255, 0.85) 36.08%,
  //     rgba(255, 255, 255, 0.19) 52.74%,
  //     rgba(255, 255, 255, 0) 74.46%
  //   ),
  //   url('../images/hero-bg-image.webp');
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;
  padding: 70px 0 28px;
  // z-index: -2;

  @media screen and (min-width: $bp-desktop) {
    background-position: right top;
    background-size: contain;
    padding: 122.5px 0 126.5px;
  }

  @media screen and (min-width: 1440px) {
    background-position: center bottom;
    background-size: cover;
    padding: 272px 0 272px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    // left: 50%;
    // transform: translateX(-50%);
    right: 0;
    width: 100%;
    min-height: 100%;
    background-image:
      linear-gradient(
        94deg,
        #fff 21.65%,
        rgba(255, 255, 255, 0.85) 36.08%,
        rgba(255, 255, 255, 0.19) 52.74%,
        rgba(255, 255, 255, 0) 74.46%
      ),
      url('../images/hero-bg-image.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -2;

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image:
        linear-gradient(
          94deg,
          #fff 21.65%,
          rgba(255, 255, 255, 0.85) 36.08%,
          rgba(255, 255, 255, 0.19) 52.74%,
          rgba(255, 255, 255, 0) 74.46%
        ),
        url('../images/hero-bg-image@2x.webp');
    }

    // @media screen and (min-width: $bp-desktop) {
    //   background-position: right top;
    //   background-size: contain;
    // }

    // @media screen and (min-width: 1440px) {
    //   background-position: center bottom;
    //   background-size: cover;
    // }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    // min-width: 1440px;
    height: 100%;
    background-image: url('../images/hero-bg-mask.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    z-index: -1;

    @media screen and (min-width: $bp-tablet) {
      background-size: cover;
      /* transform: rotate(180deg) scale(-1, 1); */
      // z-index: -1; // for &::before
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    @media screen and (min-width: $bp-tablet) {
      align-items: flex-start;
      padding-left: 106px;
    }
  }

  &__second-title {
    font-size: 12px;
    margin-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: $font-title;
    font-size: 54px;
    font-weight: 700;
    line-height: 0.85;
    margin-bottom: 32px;
    color: $color-brand-light;

    @media screen and (min-width: $bp-tablet) {
      color: $color-brand-light;
      font-family: $font-title;
      font-size: 140px;
      line-height: 0.85;
      max-width: 530px;
      margin-bottom: 40px;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    @media screen and (min-width: $bp-tablet) {
      align-items: flex-start;
      gap: 14px;
    }
  }

  &__button {
    &:hover {
      background-color: transparent;
    }
  }

  &__button-description {
    font-size: 11px;
    line-height: 1.64;
    text-align: center;
    max-width: 238px;
    color: $color-primery-light;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 0;
    }
  }
}
