@use '../utils/variables' as var;

.hero-section {
  position: relative;
  /* background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url('../images/hero-bg-image.webp');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover; */
  padding: 122.5px 0 126.5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-height: 100%;
    background-image:
      linear-gradient(
        94deg,
        #fff 9.65%,
        rgba(255, 255, 255, 0.85) 26.08%,
        rgba(255, 255, 255, 0.19) 52.74%,
        rgba(255, 255, 255, 0) 74.46%
      ),
      url('../images/hero-bg-image.webp');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -2;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    min-width: 1440px;
    height: 100%;
    background-image: url('../images/hero-bg-mask.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* transform: rotate(180deg) scale(-1, 1); */
    z-index: -1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    padding-left: 106px;
  }

  &__second-title {
    margin-bottom: 16px;
  }

  &__title {
    color: var.$color-brand-light;
    font-family: var.$font-title;
    font-size: 140px;
    font-weight: 700;
    line-height: 0.8;
    margin-bottom: 40px;
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  &__button {
    &:hover {
      background-color: transparent;
    }
  }

  &__button-description {
    max-width: 238px;
    color: var.$color-primery-light;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 0;
  }
}
