@use '../utils/variables' as v;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(1, 31, 74, 0.4);
  transition:
    opacity 0.2s,
    visibility 0.2s;
  z-index: 3;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 723px;
  max-height: 681px;
  padding: 56px 24px;
  background: v.$color-primery-dark;
  background-image: url('../images/modal-form-vector.svg');
  border-radius: 24px;
  overflow-y: auto;

  @media screen and (min-width: v.$bp-tablet) {
    flex-basis: fill;
    height: 100%;
    padding: 42px 144px;
    border-radius: 48px;
  }

  &__title {
    margin-bottom: 32px;
    color: v.$color-background;

    @media screen and (min-width: v.$bp-tablet) {
      margin-bottom: 40px;
    }
  }

  &__btn-close {
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    stroke: v.$color-background;

    @media screen and (min-width: v.$bp-tablet) {
      top: 42px;
      right: 42px;
      width: 32px;
      height: 32px;
    }
  }
}
