@use '../utils/variables' as var;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background: rgba(1, 31, 74, 0.4);
  transition:
    opacity 0.2s,
    visibility 0.2s;
  z-index: 3;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 42px 144px;
  background: var.$color-primery-dark;
  background-image: url('../images/modal-form-vector.svg');
  border-radius: 48px;
  overflow-y: auto;

  &__title {
    margin-bottom: 40px;
    color: var.$color-background;
  }

  &__btn-close {
    position: absolute;
    top: 42px;
    right: 42px;
    width: 32px;
    height: 32px;
    fill: none;
    stroke: var.$color-background;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
