@use '../utils/variables' as v;

.procedures-section {
  padding: 20px 0;

  @media screen and (min-width: v.$bp-tablet) {
    padding: 48px 0;
  }

  &__slider {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__container {
    // display: flex;
    // flex-direction: column;
    // gap: 16px;
    overflow: hidden;
  }

  &__list {
    margin-bottom: 16px;

    @media screen and (min-width: v.$bp-tablet) {
      margin-bottom: 32px;
    }
  }

  &__button {
    display: none;

    @media screen and (min-width: v.$bp-tablet) {
      display: flex;
    }
  }
}
