@use '../utils/variables' as var;

.why-us-section {
  position: relative;
  padding: 88px 0 48px;

  &::before {
    content: '';
    position: absolute;
    top: -122px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1440px;
    height: 1506px;
    background-image: url('../images/bg-body-wave.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    z-index: -1;
    pointer-events: none;
  }

  &__container {
    padding: 0 90px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    margin: 0;
  }

  &__list {
    display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    gap: 56px;
  }

  &__item {
    // display: flex;
    flex-basis: calc((100% - 112px) / 3);
    // flex-grow: 1;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    // max-width: 316px;
    min-height: 181px;
    padding: 24px 32px;
    background-color: var.$color-background;
    fill: var.$color-brand-light;
    /* border: 1px solid lightgray; */
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  }
}
