// @use '../utils/variables' as v;
@use '../utils' as *;

.why-us-section {
  position: relative;
  padding: 52px 0 20px;

  @media screen and (min-width: $bp-tablet) {
    padding: 88px 0 48px;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -122px;
    left: 50%;
    transform: translateX(-50%);
    // left: 0;
    width: 100%;
    height: 1506px;
    background-image: url('../images/bg-body-wave.svg');
    background-repeat: no-repeat;
    background-position: center top;
    // background-size: 1440px 100%;
    // background-size: max(1440px, 100%) 100%;
    background-size: clamp(1440px, 100%, 2560px) 100%;
    z-index: -1;
    pointer-events: none;
  }

  &__container {
    @media screen and (min-width: 480px) and (max-width: $bp-tablet) {
      padding: 0 48px;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 0 90px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    @media screen and (min-width: $bp-desktop) {
      justify-content: space-between;
      gap: 56px;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 112px) / 3);
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    height: 100%;
    padding: 24px 32px;
    background-color: $color-background;
    fill: $color-brand-light;
    border-radius: 32px;
    box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  }
}
