// @use '../utils/variables' as v;
@use '../utils' as *;

.button {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.187;
  padding: 12px 20px;
  margin-bottom: 8px;
  width: 100%;
  max-width: 241px;
  border: 2px solid $color-brand-light;
  border-radius: 32px;
  color: $color-background;
  background-color: $color-brand-light;
  transition: color 0.2s;

  @media screen and (min-width: $bp-tablet) {
    font-size: 18px;
    line-height: 1.166;
    max-width: 281px;
    padding: 16px 30px;
    width: auto;
  }
}

.button:hover {
  color: $color-primery-dark;
  background-color: #dfdfdf;
  border: 2px solid $color-brand-light;
}

.btn-close {
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
