@use '../utils/variables' as var;

.button {
  padding: 16px 52px;
  margin-bottom: 8px;
  width: auto;
  border: 2px solid var.$color-brand-light;
  border-radius: 32px;
  color: var.$color-background;
  background-color: var.$color-brand-light;
  font-weight: 600;
  transition: color 0.2s;
}

.button:hover {
  color: var.$color-primery-dark;
  background-color: #dfdfdf;
  border: 2px solid var.$color-brand-light;
}
