// @use '../utils/variables' as v;
@use '../utils' as *;

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: $color-primery-dark;
  background-color: transparent;
  border: 1px solid $color-primery-dark;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    fill: $color-background;
    background-color: $color-brand-light;
    border: 1px solid $color-background;
  }

  &.next {
    transform: scaleX(-1);
    transform-origin: center;
    /* transform: rotate(180deg); */
  }
}
