@use '../utils/variables' as var;

.carousel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  fill: var.$color-primery-dark;
  background-color: transparent;
  border: 1px solid var.$color-primery-dark;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    fill: var.$color-background;
    background-color: var.$color-brand-light;
    border: 1px solid var.$color-background;
  }

  &.next {
    transform: scaleX(-1);
    transform-origin: center;
    /* transform: rotate(180deg); */
  }
}
