@use '../utils/variables' as var;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 310px;
  gap: 24px;

  &__title {
    font-size: 22px;
    // font-weight: 600;
    line-height: 1.18;
    max-width: 274px;
    margin-bottom: 0;
    color: var.$color-background;
  }

  &__field {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__input {
    font-size: 13px;
    font-weight: inherit;
    width: 100%;
    padding: 18px 33px;
    color: var.$color-background;
    background-color: transparent;
    border: 2px solid var.$color-grey;
    border-radius: 32px;

    &::placeholder {
      color: var.$color-background;
    }

    &:focus,
    &:hover {
      background-color: var.$color-grey;
      outline: none;
    }
  }

  &__pryvacy {
    font-size: 12px;
    line-height: 1.5;
    max-width: 216px;
    margin: 0 auto;
    color: var.$color-grey;

    &--link-underline {
      text-decoration: underline;
      text-underline-offset: 2px;
      color: var.$color-grey;
    }
  }
}
