// @use '../utils/variables' as v;
@use '../utils' as *;

.icon-item {
  display: flex;

  &__icon {
    display: flex;
    transition: fill 0.2s;

    &:hover {
      fill: $color-brand-light;
    }
  }
}
