// @use '../utils/variables' as v;
@use '../utils' as *;

.pagination {
  display: flex;
  justify-content: center;
  gap: 16px;

  @media screen and (min-width: $bp-tablet) {
    gap: 24px;
  }

  &__button {
    width: 8px;
    height: 8px;
    // padding: 0;
    background-color: $color-grey;
    border-radius: 50%;
    cursor: pointer;

    @media screen and (min-width: $bp-tablet) {
      width: 11px;
      height: 11px;

      &--active {
        background-color: $color-brand-light;
      }
    }
  }
}
