// @use '../utils/variables' as v;
@use '../utils' as *;

.procedure-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // width: 344px;
  height: 456px;
  padding: 32px 77px 32px 115px;
  color: $color-background;
  background-image: $bg-image-gradient;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 4px 120px;
  overflow: hidden;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__title {
    font-size: 20px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: $bp-desktop) {
      font-size: 22px;
    }
  }
}
