@use '../utils' as *;
// @use '../utils/variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  // outline: 1px solid rgba(255, 0, 0, 0.2) !important;
}

body {
  color: $color-primery-dark;
  background-color: $color-background;
  font-family: $font-primary;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.16;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input,
textarea {
  font-family: inherit;
  /* font-weight: inherit; */
}
