// @use '../utils/variables' as v;
@use '../utils' as *;

.text-bold {
  font-weight: 600;
}

.text-brand {
  color: $color-brand-light;
}

.text-capitalize {
  text-transform: capitalize;
}

.centered {
  text-align: center;
}
