@use '../utils/variables' as v;

.text-bold {
  font-weight: 600;
}

.text-brand {
  color: v.$color-brand-light;
}

.text-capitalize {
  text-transform: capitalize;
}

.centered {
  text-align: center;
}
